/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1551748629-08d916ed6682?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2394&q=80");
  /* The image used */
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 40%;
  min-height: 500px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather", serif;
}

/* Add styles to the form container */
.container {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

h1 {
  font-family: "Merriweather", serif;
}

/* Contact */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #000000;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #000000;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #363636;
}

.text_contact {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 20px;
  text-align: left;
  display: flex;
  margin-bottom: -40px;
}

.text_contact2 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 20px;
  text-align: left;
  display: flex;
}